@charset 'utf-8';
@import './reset';
@import './datetimepicker';

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.8rem;
    background: #f9f9f9;
}
.user {
    height: 1.28rem;
    background: #3e7fd7;
    line-height: 1.28rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
}
.navbar-collapse {
    background: #fff;
    ul li a {
        position: relative;
        display: block;
        height: .56rem;
        line-height: .56rem;
        text-indent: .4rem;
        border-bottom: 1px solid #efefef;
        font-size: .14rem;
        i {
            display: none;
            position: absolute;
            top: 0;
            right: .12rem;
            font-size: .2rem;
            color: #8aa5c9;
        }
        &.active {
            color: #3e7fd7;
            i {
                display: block;
            }
        }
    }
}

.r-main {
    margin-left: 2.8rem;
    padding-left: .24rem;
}
.r-head {
    padding: .12rem 0;
    border-bottom: 2px solid #e7e7e7;
    h1 {
        position: relative;
        padding-left: .12rem;
        font-size: .16rem;
        color: #3e7fd7;
        &:before {
            position: absolute;
            top: 2px;
            bottom: 2px;
            left: 0;
            width: 2px;
            background: #3e7fd7;
            content: "";
            line-height: 1;
        }
    }
}
.search-form {
    position: relative;
    font-size: 0;
}
.search-item {
    display: inline-block;
    margin-top: .12rem;
    width: 100%;
    height: .4rem;
    font-size: 0;
    .search-item-name {
        display: inline-block;
        width: 1rem;
        font-size: .14rem;
        line-height: .4rem;
        color: #939393;
    }
    .search-item-value {
        display: inline-block;
        font-size: .14px;
        color: #939393;
        input {
            padding: 0 .12rem;
            margin: 0 .12rem;
            width: 1.6rem;
            height: .32rem;
            border: 1px solid #c9c9c9;
            border-radius: .02rem;
            color: #1f1f1f;
        }
        a {
            display: inline-block;
            margin: 0 .12rem;
            padding: 0 .12rem;
            height: .32rem;
            line-height: .32rem;
            text-align: center;
            color: #939393;
            font-size: .14rem;
            border-radius: .16rem;
            &.active {
                background: #3e7fd7;
                color: #fff;
            }
        }
    }
    &.two {
        width: 50%;
        input {
            width: .8rem;
        }
    }
}
.search-btns {
    position: absolute;
    right: 0;
    bottom: .04rem;
    a {
        display: inline-block;
        margin-right: .24rem;
        width: .8rem;
        background: #3e7fd7;
        font-size: .12rem;
        color: #fff;
        text-align: center;
        line-height: .32rem;
        border-radius: 2px;
        &.export-btn {
            background: #aabace;
        }
    }
}

.stock-contain {
    margin-top: .12rem;
    border-top: 4px solid #f0f0f0;
    ul li {
        font-size: 0;
        border-bottom: 1px solid #f0f0f0;
        &:hover {
            background: #f4f4f4;
        }
        span {
            display: inline-block;
            width: 12.5%;
            height: .48rem;
            line-height: .48rem;
            text-align: center;
            font-size: .14rem;
            color: #1f1f1f;
            &.red {
                color: #f32626;
            }
            a {
                display: inline-block;
                width: .8rem;
                background: #3e7fd7;
                font-size: .12rem;
                color: #fff;
                text-align: center;
                line-height: .32rem;
                border-radius: 2px;
            }
        }
        &:first-child span {
            font-size: .12rem;
            color: #939393;
        }
    }
}
