@charset 'utf-8';
@import './reset';

.banner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    background: url('../img/login_banner.jpg') no-repeat center top;
    background-size: cover;
}
.login {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: .24rem;
    margin: -1.5rem 0 0 -2rem;
    width: 4rem;
    height: 3rem;
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(96, 152, 229, .35);
}
.login-item {
    margin-bottom: .24rem;
    input {
        display: block;
        width: 100%;
        height: .56rem;
        line-height: .56rem;
        border: none;
        font-size: .16rem;
        border-bottom: 1px solid #cbcbcb;
    }
    .submit-btn {
        position: relative;
        display: block;
        margin-top: .48rem;
        width: 100%;
        height: .56rem;
        font-size: .16rem;
        color: #fff;
        background: #6098e5;
        text-align: center;
        line-height: .56rem;
        letter-spacing: .24rem;
        text-indent: .24rem;
        transition: all .3s ease-out;
        overflow: hidden;
        &:hover {
            opacity: .8;
        }
        &:active {
            box-shadow: inset 0 0 4px rgba(100, 100, 255, 1);
        }
        &.loading {
            text-indent: .48rem;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -.12rem 0 0 -.64rem;
                width: .24rem;
                height: .24rem;
                border: 1px dashed #fff;
                border-radius: 50%;
                opacity: 0;
                content: "";
                transition: all .3s ease-out;
                animation: loading .8s linear .2s infinite;
            }
        }
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
